body{
    margin: 0;
}

video{
    position: fixed;
    width: 100%;
}

div{
    position: absolute;
    top: 15%;
    left: 40%;
    border: 1px solid white;
    width: 400px;
    padding-left: 40px;
    border-radius: 4px;
}

input{
    width: 300px;
    border: none;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

input:focus {
    background-color: rgba(63, 62, 62, 0.237);
    color: white;
    outline: none;

}
button{
    background-color: rgb(212, 151, 229);
    border: none;
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    width: 80px;
    margin: 20px;
}